h1,
h2 {
  text-align: center;
  color: rgb(146, 4, 106);
}

h1 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
  font-weight: normal;
  color: #350449;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: rgb(126, 72, 110) 1px 0 10px;
}

.fallback {
  text-align: center;
  color: rgb(34, 3, 3);
}
